<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.music.gu.mapper.VMusicMapper">

    <resultMap id="BaseResultMap" type="com.music.gu.model.entity.VMusic">
            <result property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="album" column="album" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="pic" column="pic" jdbcType="VARCHAR"/>
            <result property="url" column="url" jdbcType="VARCHAR"/>
            <result property="artistId" column="artist_id" jdbcType="INTEGER"/>
            <result property="lyrics" column="lyrics" jdbcType="VARCHAR"/>
            <result property="artistName" column="artist_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,album,
        create_time,update_time,pic,
        url,artist_id,lyrics,
        artist_name
    </sql>
</mapper>
